<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <div>
    <h1>
      Chess Checker
    </h1>
  </div>
  {% if check_move %}
  <h3 style="color:green;">
    Valid Move
  </h3>
  {% else %}
  <h3 style="color:red;">
    Invalid Move
  </h3>
  {% endif %}
  <div class="image-container">
    <img src={{url}}>
  </div>
</body>

<div class="form">
  <form method="POST">
    <div>
      <input id="piece" name="piece" placeholder="Piece" required>

      <input id="start" name="start" placeholder="Start" required>

      <input id="end" name="end" placeholder="End" required>

      <input name="make_move" type="submit">
    </div>
  </form>
</div>
</body>